<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs', {html:html}, {html:html}) %>

<div class="row">
    <h1><%=translatedDay%></h1>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <a class="btn btn-success m-1 text-white" href="/appointment/new?day=<%=day%>"> Crear Nueva Cita</a>
            </div>
        </div>
    </div>
<!--    <div class="col-lg-5">-->
<!--        <% if(appointments.length < 1 ) {%>-->
<!--            <h2>No hay citas este dia</h2>-->
<!--        <%} else {%>-->
<!--            <ul>-->
<!--                <%appointments.forEach(app => {%>-->
<!--                    <li><%=app.hour%> - <%=app.fullName%></li>-->
<!--                <%})%>-->
<!--            </ul>-->
<!--        <%}%>-->
<!--    </div>-->
</div>

<%- include('../includes/end.ejs') %>
