<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs', {html:html}, {html:html}) %>

<div class="row">
    <h1>Mi Horario</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Día</th>
                        <th scope="col">Hora</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <%appointmentsTranslatedDay.forEach(app => {%>
                        <tr class="table-primary">
                            <td><%=app.day%></td>
                            <td><%=app.hour%></td>
                            <td><button class="btn btn-danger">Borrar</button></td>
                        </tr>
                    <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/end.ejs') %>
