<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs', {html:html}, {html:html}) %>

<div class="row">
    <a href="/"><- Volver al inicio</a>
    &nbsp;&nbsp;&nbsp;
    <% if (appointmentsTranslatedDay.length > 0 ){ %>
    <h1>Mi Horario</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Día</th>
                        <th scope="col">Hora</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <% appointmentsTranslatedDay.forEach(app => { %>
                        <tr class="table-primary">
                            <td><%= app.day %></td>
                            <td><%= app.hour %></td>
                            <td>
                                <form method="post" action="/appointment/delete">
                                    <input type="hidden" name="id" value="<%= app.id %>"/>
                                    <input type="hidden" name="dayScheduleId" value="<%= app.dayScheduleId %>"/>
                                    <button class="btn btn-danger">Borrar</button>
                                </form>

                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <% } else {%>
            <h1> No hay Citas para este usuario</h1>
            <span>Puede seleccionar una cita en el Inicio</span>
        <% }%>
</div>

<%- include('../includes/end.ejs') %>
